.landing_page {
    font-family: inter, sans-serif;
    align-items: center;
    background-color: #C23737;
}

.button_masuk {
    font-family: Work Sans, sans-serif;
    font-size: 13px;
    font-weight: 500;
    outline: none;
    align-items: center;
    color: white;
    background-color: #C23737;
    border-color: #C23737;
    height: 38px;
    width: 100%;
    border-radius: 8px;
}

